{{ define "page/user.tmpl" }}
{{ template "globals/top.tmpl" . }}
{{ template "globals/header.tmpl" .}}
<div>
    <p>user page</p>
    <h1>{{ .title }}</h1>
</div>
{{ template "globals/footer.tmpl" .}}
{{ template "globals/bottom.tmpl" . }}
{{ end }}