# IDE files
.vscode
.DS_Store
.idea

# Dependencies
node_modules/
# Test
*.out

# Misc
.env
bin/
tmp/
assets/css/tailwind.css

node_modules
/build
/.svelte-kit
/package
.env
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
